body{
	
}
header{
	background-color: #000;
}
#hero{
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/bg-sliders.jpg");
	padding: 80px 0px;
	text-align: bottom center; 
	color: #FFFFFF;	
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	align-items: flex-end;
}

#banners{
	padding: 30px 0;
}

#product {
	padding: 30px 0;
	color: #878787;
}

#product h2 {
	color: #000;
	font-weight: 200;
	padding-bottom: 30px;
}

.img {
	float: left;
    height: 150px;
    object-fit:contain;
}

.img2 {
	float:left;
	align-content: center;
    height: 150px;
    object-fit:contain;
}

.trades{
	color: #000;
	font-weight: 300;
	padding-bottom: 30px;
	text-align: center;
	font-size: 35px;
}

.slick-carousel {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
	
.btn-success {
	padding: 10px 10px;
	text-align: center;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 40%;
	border-radius: 20px;
}

.btn-primary {
	background-color: transparent;
	margin: 30px 0px;
	color: #000000;
	border-color: #000;
}

footer {
	margin-top: 100px;
	padding: 100px;
	background-color: #323232;
	color: #fff;
	text-decoration: none;
}

footer img {
	align-content: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

footer a {
	text-decoration: none;
	color: #fff;
}
	
	
	
	
	
	
	
	
	
	